// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  cursor: pointer;

  &:focus,
  &.focus {
    outline: 0;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  cursor: none;
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background: $value;
    color: color-yiq($value);
    fill: color-yiq($value);
    
    &:disabled,
    &.disabled {
      background: $gray-400;
      color: color-yiq($gray-400);
      fill: color-yiq($gray-400);
    }
  }

  .btn-outline-#{$color} {
    background: transparent;
    color: $value;
    fill: $value;
    border: $btn-border-width solid $value;

    &:disabled,
    &.disabled {
      color: $gray-400;
      fill: $gray-400;
      border-color: $gray-400; 
    }
  }

  .btn-link-#{$color} {
    background: transparent;
    color: $value;
    fill: $value;

    &:disabled,
    &.disabled {
      color: $gray-400;
      fill: $gray-400;
    }
  }
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn--sm {
  font-size: 0.8rem;
}

.btn--md {
  font-size: 1rem;
}
.btn--lg {
  font-size: 1.2rem;
}